<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tenghen.ireader">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.tenghen.ireader.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <!-- 友盟配置开始 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a75df0bf29d987e7800043c" >
        </meta-data>

        <activity
            android:name="com.tenghen.ireader.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.tenghen.ireader.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106049570" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.tenghen.ireader.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>

        <!-- 友盟配置结束 -->

        <activity
            android:name="com.tenghen.ireader.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tenghen.ireader.ui.activity.BookTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.RankActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.MonthlyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.FreeBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.BookDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.ReadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="tenghen.intent.login"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tenghen.ireader.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.LatestReadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.MyShelfActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.RechargeLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.CostLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.MyCommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.MyMsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.TopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.DynamicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.MoreCommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.MoreGiftActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.BindPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.RechargeMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
        android:name="com.tenghen.ireader.ui.activity.ModifyPwdActivity"
        android:screenOrientation="portrait"/>
        <activity
        android:name="com.tenghen.ireader.ui.activity.ProblemsActivity"
        android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.ChapterListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenghen.ireader.ui.activity.UserBindActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>